@import url(https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Blinker:wght@100;200;300;400;600;700;800&display=swap);
.native-mobile {
    display: flex;
    justify-content: center;
}

.background-index {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, #3d98fb 0%, #99dbf5 70.83%, #a7ecee 100%);
    height: 100vw;
    background-attachment: fixed;
}

.centrar-mobile-desktop {
    display: none;
}

.phone-content {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    transition: all 0.3s ease; /* Transición suave */
    /*background: linear-gradient(0deg, #3d98fb 0%, #99dbf5 70.83%, #a7ecee 100%);*/
}

.phone-content.scrollable {
    overflow-y: scroll;
}

.mobile-device-img {
    position: absolute;
    height: 470px;
    z-index: 2; /* Asegura que la imagen esté encima de la simulación */
    pointer-events: none; /* Evita que la imagen bloquee interacciones con el contenido debajo */
}

.footie {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.desktop-mobile-container {
    display: none;
}

.container-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 500px;
}

/* Media query para pantallas más grandes (escritorio) */
@media (min-width: 992px) {
    .container-menu {
        width: 213px;
        /*gap: 1rem; se lo sacamos para mobile para que quede pegado*/
    }

    .native-mobile {
        display: none;
    }

    .centrar-mobile-desktop {
        padding: 6rem;
        display: flex;
        align-items: center;
        height: 60vh;
        background-attachment: fixed;
        justify-content: center;
    }

    .background-prueba {
        /* Aplica estilos para la versión de escritorio */
        background: linear-gradient(
            0deg,
            #3d98fb 0%,
            #99dbf5 70.83%,
            #a7ecee 100%
        );
    }

    .phone-container {
        /* Cambia el tamaño y estilos para la versión de escritorio simulando el teléfono */
        width: 217px;
        height: 470px;
        border: 2px solid black;
        position: relative;
        overflow: hidden;
        border-radius: 30px;
    }

    .phone-content {
        /* Cambia el tamaño y estilos para la versión de escritorio */
        width: 100%;
        height: auto;
        overflow-y: scroll;
    }

    .desktop-mobile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mid-container-desktop {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 1rem;
        height: 80vh;
        max-width: 1284px;
        width: 95vw;
    }

    .phone-container .navbar-toggler {
        /* Aplicar estilos específicos para el botón de despliegue en versión "handy" */
        display: none; /* Ocultar el botón de despliegue en versión "handy" simulada */
    }

    .phone-container .navbar-collapse {
        /* Mostrar el menú en versión "handy" simulada en escritorio */
        display: block !important;
    }

    .mobile-warning {
        display: block;
        color: red;
    }

    .container-title-box {
        margin: 1rem;
        padding: 12px;
    }

    .hexagon {
        position: absolute;
        top: 18%;
        right: -8%;
        /* transform: translate(50%, -50%); */
        width: 29rem;
        height: 29rem;
        background-image: url(/imagenes/Star_1.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        filter: brightness(90%) saturate(70%) opacity(0);
    }

    .circle {
        position: absolute;
        top: 81%;
        left: -4%;
        width: 24rem;
        height: 24rem;
        background-image: url(/imagenes/Star_3.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        filter: brightness(90%) saturate(20%) opacity(0);
    }
}

.welcome-title {
    color: #495057;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-size: 2.8rem;
}
.container-title-box {
    margin: 1rem;
    padding: 12px;
    /*white-space: normal; */
    /*overflow: hidden;*/
}

.container-card-welcome-desktop {
    display: flex;
    width: 100%;
    /*margin: 0px 32px 0 32px; se lo sacamos para mobile para que llegue al ancho*/
    height: 113px;
    border-radius: 15px;
}

.container-card-welcome {
    display: flex;
    width: 100%;
    /*margin: 0px 32px 0 32px; se lo sacamos para mobile para que llegue al ancho*/
    height: 168px;
    border-radius: 15px;
}
.card-title {
    position: relative;
    z-index: 1;
}
.agenda-card-img {
    position: relative;
    background-image: url(/imagenes/welcome_img2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.agenda-card-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(173, 216, 230, 0.2);
}

.agenda-card-img-desktop {
    position: relative;
    background-image: url(/imagenes/welcome_img2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.agenda-card-img-desktop::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(173, 216, 230, 0.2);
}

.hotel-card-img {
    position: relative;
    background-image: url(/imagenes/welcome_img_hotel.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hotel-card-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(173, 216, 230, 0.5);
}

.hotel-card-img-desktop {
    position: relative;
    background-image: url(/imagenes/welcome_img_hotel.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hotel-card-img-desktop::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(173, 216, 230, 0.5);
}

.create-agenda-card-img {
    position: relative;
    background-image: url(/imagenes/welcome_img_hotel.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.create-agenda-card-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(173, 216, 230, 0.5);
}

a {
    text-decoration: none !important;
}

/*Aca estaria el circulo y el hexagono de fondo*/
.circle {
    position: absolute;
    top: 10%;
    right: 67%;
    width: 17rem;
    height: 17rem;
    background-image: url(/imagenes/Star_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: brightness(90%) saturate(20%) opacity(0);
}

.hexagon {
    position: absolute;
    top: 39%;
    right: 0%;
    /* transform: translate(50%, -50%); */
    width: 17rem;
    height: 17rem;
    background-image: url(/imagenes/Star_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: brightness(90%) saturate(70%) opacity(0.4);
}

/* Styles for screens from 768px to 991px (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .container-title-box {
        margin: 1rem;
        padding: 12px;
    }

    .circle {
        position: absolute;
        top: 68%;
        left: -15%;
        width: 22rem;
        height: 22rem;
        background-image: url(/imagenes/Star_3.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        filter: brightness(90%) saturate(40%);
    }

    .hexagon {
        position: absolute;
        top: 12%;
        left: 50%;
        /* right: -19%; */
        /* transform: translate(50%, -50%); */
        width: 23rem;
        height: 23rem;
        background-image: url(/imagenes/Star_1.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        filter: brightness(90%) saturate(70%) opacity(0.4);
    }
}



/* Landscape orientation - Mobile styles */
@media (min-width: 100px) and (orientation: landscape) {
    /* Styles for mobile landscape */
    .hexagon {
        position: absolute;
        top: 27%;
        right: 20%;
    }

    .circle {
        position: absolute;
        top: 31%;
        left: 11%;
    }

    .background-index {
        height: 100vh;
    }
}

.supernav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

/* aca esta lo viejo */

.form-group input,
.form-group select,
.form-group textarea {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.form-group {
    padding-bottom: 20px;
}

.form-group label {
    font-family: "Blinker", serif;
    color: white;
}

.form-group input {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.file-input {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-primary {
    background-color: #9ac5f4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.button-secondary {
    background-color: #ffeebb;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.button-primary:hover,
.button-secondary:hover {
    opacity: 0.8;
}

.image-button {
    position: relative;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    padding: 0;
    border: none;
    background-color: transparent;
}

.image-button img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image-button h5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 1rem;
    line-height: 1.2;
    opacity: 0.9;
    z-index: 1;
}

.weather-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.navbarweather {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.nav-margin-bottom{
    margin-bottom: 3rem;
}
.orden-nav-desktop{
    display: flex;
    flex-direction: column-reverse;
}

boton-footer {
    color: white;
    font-weight: 500;
    background: black;
    padding: 12;
    border-radius: 15px;
}

