@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Blinker:wght@100;200;300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: auto;
    background: linear-gradient(180deg, #3D98FB 0%, #99DBF5 70.83%, #A7ECEE 100%);
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    font-family: "Blinker", sans-serif;
    color: white;
}

h1.text-center {
    color: white;
    font-weight: 400;
    font-family: "Bakersville";
}

.form-group input,
.form-group select,
.form-group textarea {
    background-color: transparent;
    border-color: #fff;
    color: #fff;
}

.form-group {
    padding-bottom: 20px;
}

.form-group label {
    font-family: "Blinker", serif;
    color: white;
}

.form-group input {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.weather-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.weather-info {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.weather-info h2 {
    font-weight: bold;
    font-family: "Blinker", sans-serif;
    color: white;
    margin-right: 10px;
}

.weather-info img {
    margin-right: 10px;
}

.weather-info .temperature {
    font-size: 20px;
    font-family: "Blinker", sans-serif;
    color: white;
}

.weather-date {
    font-size: 14px;
    font-family: "Blinker", sans-serif;
    color: white;
    text-align: left;
}

.hexagon {
    position: absolute;
    top: 50%;
    right: 10%; /* Disminuir la distancia desde el borde derecho */
    transform: translate(50%, -50%); /* Ajustar la posición */
    width: 30%; /* Cambiar a un porcentaje del ancho de la pantalla */
    padding-bottom: 34.32%; /* Mantener la relación de aspecto del hexágono */
    background: url(/imagenes/Star_1.png) center center no-repeat;
    background-size: contain;
    z-index: -1;
    animation: moveHexagon 40s linear infinite;
}

.circle {
    position: absolute;
    top: 50%;
    left: 0; /* Colocar el círculo a la izquierda */
    transform: translate(-50%, -50%);
    width: 20%; /* Cambiar a un porcentaje del ancho de la pantalla */
    padding-bottom: 20%; /* Mantener la relación de aspecto del círculo */
    background: url(/imagenes/Star_3.png) center center no-repeat;
    background-size: contain;
    z-index: -1;
    
    /*animation: scaleCircle 20s linear infinite;  Cambiar la duración de la animación */
}

@media (max-width: 767px) {
  /* Estilos para dispositivos móviles */
  .hexagon {
    width: 87%; /* Aumentar el tamaño del hexágono en dispositivos móviles */
    padding-bottom: 100%; /* Ajustar la relación de aspecto del hexágono en dispositivos móviles */
    left: 0%;;/* Disminuir aún más la distancia desde el borde derecho */
    position: fixed;
    z-index: -2;
}
  
  
  .circle {
    width: 99%; /* Aumentar el tamaño del círculo en dispositivos móviles */
    padding-bottom: 100%; /* Ajustar la relación de aspecto del círculo en dispositivos móviles */
    left: 15%;
    top:30%;
  }
}
 



@keyframes moveHexagon {
    0% {
        transform: translate(50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(50%, -50%) rotate(360deg);
    }
}

@keyframes scaleCircle {
    0% {
        transform: translate(-50%, -50%) scale(0.9);
    }
    50% {
        transform: translate(-50%, -50%) scale(1); /* Expandir el círculo */
    }
    100% {
        transform: translate(-50%, -50%) scale(0.9);
    }
}



.titulo{
    font-family: 'Baskervville', serif;
    line-height: 1.2;
    font-size: 41px;
}


.container{
    padding-left: 13px;
    padding-right: 13px;
}



//ESTO ES PARA LAS IMAGENES DE BIENVENIDA

.cardwelcome {
    background-image: url(/imagenes/mallorca1.jpg);
    background-size: cover;
    background-position: center;
  }