/* styles.css */

/* Estilos para el contenido de la página */
#app {
    background-color: #fd0000;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
  }
  
  p {
    color: #666;
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  /* Estilos para la barra de navegación */
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  
  /* Estilos adicionales */
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
  
  .btn {
    background-color: #f39c12;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
  }
  
  .btn:hover {
    background-color: #e67e22;
  }
  