@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Blinker:wght@100;200;300&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.background-prueba {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, #3d98fb 0%, #99dbf5 70.83%, #a7ecee 100%);
    height: 100vh;
    background-attachment: fixed;
}

.background-index {
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, #3d98fb 0%, #99dbf5 70.83%, #a7ecee 100%);
    height: 100vw;
    background-attachment: fixed;
}

.centrar-mobile-desktop {
    display: none;
}



.phone-content {
    width: 100%;
    height: auto; /* Altura mayor que la del celular */
    overflow-y: hidden;
    transition: all 0.3s ease; /* Transición suave */
    background: linear-gradient(0deg, #3d98fb 0%, #99dbf5 70.83%, #a7ecee 100%);
}

.phone-content.scrollable {
    overflow-y: scroll;
}

.mobile-device-img {
    position: absolute;
    height: 470px;
    z-index: 2; /* Asegura que la imagen esté encima de la simulación */
    pointer-events: none; /* Evita que la imagen bloquee interacciones con el contenido debajo */
}

.footie {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.desktop-mobile-container {
    display: none;
}

.phone-container {
    /* Cambia el tamaño y estilos para la versión de escritorio simulando el teléfono */
    width: 217px;
    height: 470px;
    border: 2px solid black;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

@media (min-height: 400px) and (max-height: 700px) {
    /* Agrega aquí tus reglas de estilo para pantallas medianas */

    .mobile-device-img{
        height: 367px;
    }
    .phone-container {
        width: 170px;
        height: 360px;}

    
}


/* Media query para pantallas más grandes (escritorio) */
@media (min-width: 552px) {

    .native-mobile {
        display: none;
    }
    .background-prueba {
        /* Aplica estilos para la versión de escritorio */
        background: linear-gradient(
            0deg,
            #3d98fb 0%,
            #99dbf5 70.83%,
            #a7ecee 100%
        );
    }

    

    .phone-content {
        /* Cambia el tamaño y estilos para la versión de escritorio */
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    .desktop-mobile-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mid-container-desktop {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        padding: 1rem;
        height: 80vh;
        max-width: 1284px;
        width: 95vw;
    }
}

/* ACA VIENE LA MOBILE WARNING */

.mobile-warning {
    display: none;
}

.welcome-title {
    color: #495057;
    font-family: "Baskerville", serif;

    font-size: 2.8rem;
}
.container-title-box {
    margin: 1rem;
    padding: 12px;
}

.container-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /*gap: 1rem; se lo sacamos para mobile para que quede pegado*/
}

.container-card-welcome {
    display: flex;
    width: 100%;
    /*margin: 0px 32px 0 32px; se lo sacamos para mobile para que llegue al ancho*/
    height: 30vh;
    border-radius: 15px;
}
.card-title {
    position: relative;
    z-index: 1;
}
.agenda-card-img {
    position: relative;
    background-image: url(/assets/mallorca1.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.agenda-card-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(173, 216, 230, 0.2);
}
.hotel-card-img {
    position: relative;
    background-image: url(/assets/welcome_img2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hotel-card-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(173, 216, 230, 0.5);
}

a {
    text-decoration: none !important;
}

/*Aca estaria el circulo y el hexagono de fondo*/
.circle {
    position: absolute;
    top: 10%;
    right: 67%;
    width: 17rem;
    height: 17rem;
    background-image: url(/assets/Star_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: brightness(90%) saturate(20%) opacity(0);
}

.hexagon {
    position: absolute;
    top: 39%;
    right: 0%;
    /* transform: translate(50%, -50%); */
    width: 17rem;
    height: 17rem;
    background-image: url(/assets/Star_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: brightness(90%) saturate(70%) opacity(0.4);
}


/* Styles for screens 992px and above (desktop) */
@media (min-width: 512px) {

    .container-card-welcome{
        height:  12vh;
    }
    

    .centrar-mobile-desktop {
        padding: 6rem;
        display: flex;
        align-items: center;
        height: 60vh;
        background-attachment: fixed;
        justify-content: space-between;
    }

    .phone-container .navbar-toggler {
        /* Aplicar estilos específicos para el botón de despliegue en versión "handy" */
        display: none; /* Ocultar el botón de despliegue en versión "handy" simulada */
    }

    .phone-container .navbar-collapse {
        /* Mostrar el menú en versión "handy" simulada en escritorio */
        display: block !important;
    }

    .mobile-warning {
        display: block;
        color: red;
    }

    .hexagon {
        position: absolute;
        top: 18%;
        right: -8%;
        /* transform: translate(50%, -50%); */
        width: 29rem;
        height: 29rem;
        background-image: url(/assets/Star_1.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        filter: brightness(90%) saturate(70%) opacity(0);
    }

    .circle {
        position: absolute;
        top: 81%;
        left: -4%;
        width: 24rem;
        height: 24rem;
        background-image: url(/assets/Star_3.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        filter: brightness(90%) saturate(20%) opacity(0);
    }
}

/* Landscape orientation - Mobile styles */
@media (min-width: 100px) and (orientation: landscape) {
    /* Styles for mobile landscape */
    .hexagon {
        position: absolute;
        top: 27%;
        right: 20%;
    }

    .circle {
        position: absolute;
        top: 31%;
        left: 11%;
    }

    .background-index {
        height: 100vh;
    }
}

.supernav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.weather {
    display: inline-flex;
}

.styled-text {
    padding: 10px;
    background: linear-gradient(0deg, #3d98fb 0%, #99dbf5 70.83%, #a7ecee 100%);
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
