@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Blinker:wght@100;200;300&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

.background-index{
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, #3D98FB 0%, #99DBF5 70.83%, #A7ECEE 100%);
    height: 100vw;
    background-attachment: fixed;
}

/* ACA VIENE LA MOBILE WARNING */

.mobile-warning{
    display: none;
}


.welcome-title{
    color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 2.8rem;
    
}
.container-title-box{
    margin: 1rem;
    padding:12px;
}

.container-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    /*gap: 1rem; se lo sacamos para mobile para que quede pegado*/
}


.container-card-welcome {
    display: flex;
    width: 32rem ;
    /*margin: 0px 32px 0 32px; se lo sacamos para mobile para que llegue al ancho*/
    height: 13rem ;
    border-radius: 15px;
}
.card-title {
    position: relative;
    z-index: 1;
   
}
.agenda-card-img {
    position: relative;
    background-image: url(/assets/welcome_img\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.agenda-card-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(173, 216, 230, 0.2);
}
.hotel-card-img {
    position: relative;
    background-image: url(/assets/welcome_img2.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hotel-card-img::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(173, 216, 230, 0.5);
}

a {
    text-decoration: none !important;
}

/*Aca estaria el circulo y el hexagono de fondo*/
.circle {
    position: absolute;
    top: 10%;
    right: 67%;
    width: 17rem;
    height: 17rem;
    background-image: url(/assets/Star_3.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: brightness(90%) saturate(20%) opacity(0.);
}


.hexagon {
    position: absolute;
    top: 39%;
    right: 0%;
    /* transform: translate(50%, -50%); */
    width: 17rem;
    height: 17rem;
    background-image: url(/assets/Star_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: brightness(90%) saturate(70%) opacity(0.4);
}







/* Styles for screens from 768px to 991px (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .container-title-box {
        margin: 1rem;
        padding: 12px;
    }

    .circle {
        position: absolute;
        top: 68%;
        left: -15%;
        width: 22rem;
        height: 22rem;
        background-image: url(/assets/Star_3.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        filter: brightness(90%) saturate(40%);
    }

    .hexagon {
        position: absolute;
        top: 12%;
        left: 50%;
        /* right: -19%; */
        /* transform: translate(50%, -50%); */
        width: 23rem;
        height: 23rem;
        background-image: url(/assets/Star_1.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        filter: brightness(90%) saturate(70%) opacity(0.4);
    }
}

/* Styles for screens 992px and above (desktop) */
@media (min-width: 992px) {

    .mobile-warning{
        display: block;
        color: red;
    }

    .container-menu{
        margin: 0 12rem;
    }
    .container-title-box {
        margin: 3rem 9rem;
        padding: 12px;
    }

    .hexagon {
        position: absolute;
        top: 18%;
        right: -8%;
        /* transform: translate(50%, -50%); */
        width: 29rem;
        height: 29rem;
        background-image: url(/assets/Star_1.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        filter: brightness(90%) saturate(70%) opacity(0.);
    }

    .circle {
        position: absolute;
        top: 81%;
        left: -4%;
        width: 24rem;
        height: 24rem;
        background-image: url(/assets/Star_3.png);
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        filter: brightness(90%) saturate(20%) opacity(0.);
    }
}


/* Landscape orientation - Mobile styles */
@media (min-width: 100px) and (orientation: landscape) {
    /* Styles for mobile landscape */
    .hexagon {
        position: absolute;
        top: 27%;
        right: 20%;}

        .circle {
            position: absolute;
            top: 31%;
            left: 11%;
        }

        .background-index{
            height: 100vh;
        }
}





.supernav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}

.weather{
    display: inline-flex;
}
