@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    padding: 1rem;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(
        180deg,
        #9ac5f4 0%,
        #99dbf5 70.83%,
        #a7ecee 100%
    );
    background-size: cover;
}

body{
    margin: 0;
    padding: 0;
}


.weather-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}

.weather-info {
    display: flex;
    align-items: center;
}

.weather-info h2 {
    font-weight: bold;
    margin-right: 10px;
    font-family: "Blinker", sans-serif;
    color: white;
}

.weather-info img {
    margin-right: 10px;
}

.weather-info .temperature {
    font-size: 20px;
    margin-right: 10px;
    font-family: "Blinker", sans-serif;
    color: white;
}

.weather-info .weather-date {
    font-size: 14px;
    margin-top: 5px;
    font-family: "Blinker", sans-serif;
    color: white;
}